__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Database & Environment
.env
.env.*
!.env.example
*.sqlite3
*.db
*.log
postgres_data/

# Environments
.venv/
env/
venv/
ENV/

# Testing & Linting
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.mypy_cache/
.ruff_cache/

# IDEs & OS
.vscode/
.idea/
.DS_Store
Thumbs.db


